@font-face {
  font-family: "Circular-Book";
  src: url("./fonts/Circular_Air-Book.woff") format("woff"),
    url("./fonts/Circular_Air-Book.ttf") format("truetype");
}
@font-face {
  font-family: "Circular-Light";
  src: url("./fonts/Circular_Air-Light.woff") format("woff"),
    url("./fonts/Circular_Air-Book.ttf") format("truetype");
}
@font-face {
  font-family: "Circular-Bold";
  src: url("./fonts/Circular_Air-Bold.woff") format("woff"),
    url("./fonts/Circular_Air-Book.ttf") format("truetype");
}
